<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <main>
        <%- include("./includes/navigation") -%>
        <h1>Connexion</h1>
        <form action="/users" method="post">
            <input type="text" name="username" placeholder="username" />
            <input type="text" name="email" placeholder="email" />
            <input type="password" name="password" placeholder="password" />
            <input type="submit" value="Se connecter">
        </form>
    </main>
</body>
</html>