<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <form action="/user" method="post">
      <label for="username">Nom d'utilisateur :</label>
      <input type="text" id="username" name="username"><br><br>
      <input type="submit" value="Envoyer">
    </form>
  </body>
</html>