<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3> Profil de <%= user.username %></h3>
  <a href="/logout">Se déconnecter</a>
</body>
</html>